*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #ffd1dc;
}

body{
    background: #f5f5f5;
}

.container{ 
    max-width: 1100px;
    margin: 0 auto;
}

.form__row{
    display: flex;
    flex-direction: column;
}

.header{
    justify-content: center;
}

.todolist__row{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ToDoList__title{
    justify-content: center;
    display: flex;
    font-family: monospace;
    padding: 60px 0 30px 0 ;
    font-weight: 900;
    font-size: 90px;
    color: #ead7d7;
}

.ToDoList__form{
    display: flex;
    justify-content: center;
    margin: 0 0 90px 0;
}

.todolist__text{
    border: none;
    font-size: 50px;
    color: #000000;
    max-width: 900px;
    margin: 0 100px;
}

input.todolist__text::placeholder{
    color: #e6e6e6;
    font-style: italic;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.ToDoList__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
	padding: 30px;
    font-size: 50px;
    min-width: 900px;
    box-shadow: 0 3px 15px gray;
    background: #ffffff;
	max-height: auto;
	align-items: center;
}

.element__text{
	margin: 0 0 0 20px;
    transition: 1s;
    color: #4d4d4d;
	max-width: 700px;
	word-wrap: break-word;
}

.left__row{
	display: flex;
	align-items: center;
}

.active .element__text{
    transition: 0.9s;
    text-decoration: line-through;
    color: #e6e6e6;
}

.img{
    width: 40px;
    height: 40px;
    padding: 20px 30px;
}

.form__row{
    display: flex;
    align-items: center;
}

.js-resetButton{
    border: none;
    border-left: 2px #000000 solid;
    background: #B4B4B4;
    padding: 4px 20px;
    font-family: monospace;
    font-size: 20px;
    color: #505050;
}

.input__todolist{
    display: flex;
    align-items: center;
    border: none;
    padding: 30px ;
    font-size: 50px;
    min-width: 900px;
    box-shadow: 0 3px 15px gray;
    background: #ffffff;
}

.arrow{
    position: absolute;
    margin: 0 25px;
}

.arrow::before{
    content: '▼';
    color: #000000;
}

.form__footer{
    display: none;
}

.formon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 30px ;
    font-size: 25px;
    min-width: 900px;
    color: #e6e6e6;
    box-shadow: 0 3px 15px gray;
    background: #ffffff;
}

.footer__count{
    color: #777777;
    margin: 0 80px 0 0;
    width: 150px;
}

.footer__menu{
    min-width: 400px;
}

.first:hover{
    border: 1px #efd5d5 solid;
    border-radius: 15px;
}

.footer__clear{
    color: #777777;
    border: none;
    font-size: 25px;
    background: #ffffff;
}

.footer__clear:hover{
    text-decoration: underline;
}

.first{
    border: none;
    background: #ffffff;
    font-size: 25px;
    color: #777777;
    padding: 15px 20px;
    margin: 0 5px;
}

._active{
	border: 1px #efd5d5 solid;
}


@media (max-width: 1100px){
	
	.container{
		width: 900px;
	}
	
	.element__row{
		min-width: 670px;
	}
	
	.element__text{
		max-width: 500px;
	}
	
	.todolist__text{
		font-size: 40px;
		width: 570px;
		margin: 0 0 0 100px;
	}

	.ToDoList__title{
    	font-size: 60px;
	}
	
	.input__todolist{
		min-width: 500px;
	}
	
	.formon{
		justify-content: space-around;
    	padding: 30px ;
    	font-size: 25px;
    	min-width: 600px;
	}
	
	.footer__count{
    	color: #777777;
		font-size: 15px;
    	width: 150px;
	}
	
	.form__footer{
		max-width: 670px;
	}
	
	.footer__clear{
		font-size: 15px;
	}
	
	.first{
		border: none;
   	 	background: #ffffff;
    	font-size: 15px;
    	color: #777777;
	}
	
}

@media (max-width: 900px){
	
	.container{
		width: 600px;
	}
	
	.element__row{
		min-width: 470px;
		font-size: 20px;
		padding: 0 30px;
	}
	
	.element__text{
		max-width: 400px;
	}
	
	.todolist__text{
		font-size: 20px;
		width: 370px;
		margin: 0 0 0 100px;
	}

	.ToDoList__title{
    	font-size: 40px;
	}
	
	.input__todolist{
		min-width: 370px;
	}
	
	.formon{
		justify-content: space-around;
    	padding: 30px ;
    	font-size: 20px;
    	min-width: 370px;
	}
	
	.footer__count{
    	color: #777777;
		margin: 0 40px 0 20px;
		font-size: 10px;
    	width: 100px;
	}
	
	.form__footer{
		max-width: 470px;
	}
	
	.footer__clear{
		font-size: 10px;
	}
	
	.first{
		border: none;
   	 	background: #ffffff;
    	font-size: 10px;
    	color: #777777;
	}
	
	.footer__menu{
		margin: 0 -100px 0 50px;
		max-width: 400px;
	}
	
}

@media (max-width:600px){
	
	body{
		padding: 10px;
	}
	
}


